vdr-tools==0.0.2
requests==2.25.1
base58==2.1.0

# Development Dependencies (including testing)
wheel==0.36.2
setuptools==57.0.0
pylint==2.8.3
pylint-quotes==0.2.3
pytest==6.2.4
pytest-mock==3.6.1
pytest-parallel==0.1.0
pytest-asyncio==0.15.1
aiohttp==3.7.4
