<settings>
  <servers>
    <server>
      <!-- id is a unique identifier for a single repository.-->
      <id>io.cloudrepo</id>
      <!-- Email Address of the Repository User (Account Owner Credentials WILL NOT WORK). -->
      <username>dev-services+verity-java-sdk@evernym.com</username>
      <!-- Password of the Repository User. -->
      <password>${env.IO_CLOUDREPO_ACCOUNT_PASSWORD}</password>
    </server>
  </servers>
</settings>
